.diceWrap {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 900px;
	margin: 0 auto;
}
.dice {
	border: 2px solid black;
	border-radius: 5px;
	width: 50px;
	height: 50px;
	margin: 10px;
	position: relative;
	&.hold {
		border-color: red;
		.dot {
			background: red;
		}
	}
	.dot {
		border-radius: 50%;
		background: black;
		width: 10px;
		height: 10px;
		position: absolute;
		top: calc(50% - 5px);
		left: calc(50% - 5px);
		transition: all 0.2s ease;
		opacity: 0;
		z-index: -1;
	}
}
.one {
	.dot:first-child {
		opacity: 1;
	}
}
.two {
	.dot:nth-child(1) {
		transform: translate(130%, -130%);
		opacity: 1;
	}
	.dot:nth-child(2) {
		transform: translate(-130%, 130%);
		opacity: 1;
	}
}
.three {
	@extend .two;
	.dot:nth-child(3) {
		transform: translate(0, 0);
		opacity: 1;
	}
}
.four {
	.dot:nth-child(1) {
		transform: translate(130%, 130%);
		opacity: 1;
	}
	.dot:nth-child(2) {
		transform: translate(-130%, -130%);
		opacity: 1;
	}
	.dot:nth-child(3) {
		transform: translate(130%, -130%);
		opacity: 1;
	}
	.dot:nth-child(4) {
		transform: translate(-130%, 130%);
		opacity: 1;
	}
}
.five {
	@extend .four;
	.dot:nth-child(5) {
		transform: translate(0, 0);
		opacity: 1;
	}
}
.six {
	@extend .four;
	.dot:nth-child(5) {
		transform: translate(130%, 0);
		opacity: 1;
	}
	.dot:nth-child(6) {
		transform: translate(-130%, 0);
		opacity: 1;
	}
}
