.boardWrapper {
  width: 900px;
  margin: 0 auto;
}

.upper {
  display: flex;
}

.sectionLabel {
  border: 1px solid;
  line-height: 2;
  font-size: 18px;
  display: flex;
  .label {
    padding-left: 20px;
    flex-grow: 3;
    width: 50%;
  }
  .scoreBox {
    flex-grow: 2;
    border-left: 1px solid;
    width: 25%;
    text-align: center;
  }
}

.upperScore {
  line-height: 4.15;
}

.lower,
.upper {
  width: 50%;
  float: left;
}

.helper {
  display: none;
}
